<%= form_tag('/display_definition', method: 'get') do %>
  <%= label_tag(:word, "Word:") %>
  <%= text_field_tag(:word) %>
  <%= submit_tag("Define") %>
<% end %>

<%= render "/shared/definition" %>

<h1>Hello, World!</h1>

<% @wordlists.each do |wordlist| %>
  <%= wordlist.title %>
<% end %>